//Login && Sign up page hero
.hero.is-success {
    background: $grey-lighter;
    .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .box {
        margin-top: 5rem;
    }
    .avatar {
        margin-top: -70px;
        padding-bottom: 20px;
        img {
            margin: 0 auto;
            padding: 5px;
            background: $white;
            border-radius: 50%;
            @include box-shadow(0, 3px, 3px, $grey-light);
        }
    }
    input {
        font-weight: 300;
    }
    p {
        font-weight: 700;
        .subtitle {
            padding-top: 1rem;
        }
    }
    .button {
        width: 100%;
    }
}