@tailwind preflight;

.btn {
    @apply .py-1 .px-2 .cursor-pointer;
}

.btn-flat {
    @apply .h-full .px-6 .cursor-pointer .uppercase;
}

.btn-flat-blue {
    @apply .btn-flat .bg-blue .text-white;

    &:hover {
        @apply .bg-blue-dark;
    }
}

.btn-blue {
    @apply .btn .bg-blue .text-white;

    &:hover {
        @apply .bg-blue-dark;
    }
}

.btn-green {
    @apply .btn .bg-green .text-white;

    &:hover {
        @apply .bg-green-dark;
    }
}

.btn-red {
    @apply .btn .bg-red .text-white;

    &:hover {
        @apply .bg-red-dark;
    }
}

.btn-white {
    @apply .btn .bg-white .text-blue;
}

.field {
    @apply .block .mb-3;
}

.label {
    @apply .block .uppercase .text-xs .mb-1 .font-bold .tracking-wide .text-grey-darker;
}

.input {
    @apply .appearance-none .w-full .bg-grey-lighter .text-grey-darker .border .rounded .py-2 .px-3;
}

@tailwind utilities;
@import './node_modules/dropzone/dist/dropzone';

.router-link-exact-active {
    @apply .bg-blue .text-white;
}

.pin-to {
    top: 100%;
}

.dz-started .dz-message {
    display: none;
}

.blur:hover img {
    transform: scale(1.05, 1.05);
    filter: blur(8px);
}

.outline-none{
    outline: none;
}